body{
    background-color: blueviolet;
}

.menu{
display:flex;
width: 90%;
flex-flow: row;
align-items: center;
}



.director{
    height:30px;
    width: 400px;
    /* hight and width in pixels, background color, border radius */
    text-align: center;

}

a:link{
    color:black;
    background-color: transparent;
    text-decoration: none;
    /* font-size: ; */
}

a:visited{
    color:black;
    background-color: transparent;
    text-decoration: none;
    /* font-size: ; */
}

.cool{
    background-color:aquamarine;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
}

.pink{
    background-color: rgb(255, 191, 237);
    text-align: center;
    padding: 15px;
    border-radius: 15px;
}

.hot{
    background-color: rgb(250, 30, 188);
    text-align:left;
    padding: 15px;
    border-radius: 15px;
}

.center{
    align-items: center;
}

.honey{
    background-color: rgb(255, 202, 116);
    text-align: center;
    padding: 15px;
    border-radius: 15px;
}